/* styled.module.scss */
@use "/styles/color.scss" as *;

.button {
  margin: 0 auto;
  background: $violet1;

  transition-duration: 0.3s;

  border-radius: 5px;
  box-shadow: 0.05rem 0.05rem 0.7rem $gray1;
  border: none;
  color: white;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
    box-shadow: none;
    cursor: pointer;
  }
}
