/* 드롭다운 컨테이너 */
@use "/styles/color.scss" as *;


.dropmenu-container {
    @keyframes dropdown {
      0% {
        transform: translateY(-10%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    
    animation: dropdown 0.3s ease-out;
    border-radius: 8px;
    overflow: hidden;
    width: 7.8rem;
    position: absolute;
    top: 3.7rem;
    right: 5rem;
    display: flex;
    flex-direction: column; /* ✅ 버튼들이 세로로 정렬 */
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid var(--color-gray30);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* 버튼 컨테이너 */
  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem 0.1rem;
    border-bottom: 1px solid var(--color-gray20);
  }
  
  /* 마지막 버튼은 border 제거 */
  .button-container:last-child {
    border-bottom: none;
  }
  
  /* 버튼과 링크 스타일 */
  .menu-button,
  .menu-link {
    display: block;
    width: 100%;
    padding: 0.8rem 1.0rem;
    border: none;
    background: transparent;
    text-align: center;
    text-decoration: none;
    color: var(--color-dark);
    font-size: 0.9rem;
    cursor: pointer;
    color: $gray5;
  }
  
  /* hover 효과 */
  .menu-button:hover,
  .menu-link:hover {
    background-color: var(--color-gray10);
    color: var(--color-violet);
  }
  