.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.contentstyle {
  position: relative;
  background-color: white;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 16px;
  width: 368px;
  height: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.textandbutton {
  width: 240px;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.tag {
  font-size: 20px;
}

@media (min-width: 376px) and (max-width: 1024px) {
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .contentstyle {
    position: relative;
    background-color: white;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 16px;
    width: 368px;
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transform: scale(1.2);
  }

  .textandbutton {
    width: 240px;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    transform: scale(1.2);
  }

  .tag {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 565px;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transform: scale(1.2);
  }

  .contentstyle {
    position: relative;
    background-color: white;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 16px;
    width: 368px;
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .textandbutton {
    width: 240px;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  .tag {
    font-size: 20px;
  }
}
