@use "/styles/color.scss" as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; //제일 상단에 늘 고정
}

.modalContent {
  background-color: $white;
  min-width: 368px;

  padding: 24px; // padding 위, 아래는 고정
  border-radius: 16px;
  // position: relative;
}
