@use "/styles/color.scss" as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; //제일 상단에 늘 고정
}

.modalContent {
  background-color: $white;
  width: 368px;
  max-height: 90vh;
  padding-top: 32px; // padding 위, 아래는 고정
  padding-bottom: 32px;
  padding-left: 32px; // padding 좌,우는 버튼 개수에 따라 유동적으로 조정
  padding-right: 32px;
  border-radius: 16px;
  position: relative;
  overflow-y: hidden;
}
