.statusAssigneeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.statusLabel,
.assigneeLabel {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #333236;
  margin-bottom: 8px;
}

.statusBox,
.assigneeBox {
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 8px;
}

.dropdownSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.dropdownSection label {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #333236;
  margin-bottom: 8px;
}

.columnDropdown {
  position: relative;
  width: 100%;
}

.columnDropdownBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: white;
  cursor: pointer;
  width: 100%;
}

.dropdownIcon {
  width: 8.17px;
  height: 4.48px;
}

/* 드롭다운 리스트 */
.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  list-style: none;
  padding: 8px 0;
  margin-top: 4px;
}

/* 옵션 스타일 - 박스형 */
.dropdownItem {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 12.13px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdownItem:hover {
  background: #f0f0f0;
}

/* 선택된 항목 스타일 */
.selectedItem {
  background: #e0e7ff;
  font-weight: bold;
  padding-left: 20.15px;
}

/* 체크 아이콘 스타일 */
.checkIconWrapper {
  width: 13.2px;
  height: 9.7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12.13px;
}

.checkIcon {
  width: 13.2px;
  height: 9.7px;
  margin-left: 12.13px;
}

/* 선택된 담당자 스타일 */
.selectedAssignee {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* 드롭다운 내 담당자 아이템 스타일 */
.assigneeItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* 프로필 이미지 스타일 */
.profileImage {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  object-fit: cover;
}

/* 프로필 이미지가 없는 경우 담당자 이니셜 원형 */
.assigneeCircle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dbe6f7;
}

.assigneeName {
  font-size: 14px;
  color: #333;
}
