@use "/styles/color.scss" as *;
// 공통
.container {
  position: relative;
  padding: 32px 28px;
  margin-bottom: 16px;
  border-radius: 16px;
  background: $white;

  .head {
    -webkit-display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    .title {
      font-size: 24px;
      font-weight: 700;
    }

    .contents .title {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
  input[type="text"] {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    margin: 8px 0 16px;
    border-radius: 8px;
    border: 1px solid $gray3;
    color: $black2;
    font-size: 16px;
    font-weight: 400;
  }
  input[type="text"]::placeholder {
    color: #8b8b8b;
  }
}
.section2 .contents .title,
.section3 .contents .title {
  font-size: 16px;
  font-weight: 400;
  color: $gray4;
}

// BackLocation
.backBtn {
  -webkit-display: flex;
  display: flex;
  align-items: center;
  margin: 20px 0 34px;

  svg {
    margin-top: -3px;
    margin-right: 10px;
  }
}

// BebridgeContainer
.contents .colorList {
  -webkit-display: flex;
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}

// MemberContainer
.section2 .pagination {
  -webkit-display: flex;
  display: flex;
  align-items: center;

  .buttonContainer {
    margin-left: 15px;
    -webkit-display: flex;
    display: flex;
    align-items: center;
  }
}
.contents .memberList .tile {
  -webkit-display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid $gray2;

  .profileCover {
    -webkit-display: flex;
    display: flex;
    align-items: center;

    .thumbnail {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background: $black1;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .nickname {
      margin-left: 12px;
      font-size: 16px;
      font-weight: 400;
    }
  }
}
.contents .memberList .tile:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

// InvitationContainer
.email {
  color: $black2;
  font-size: 16px;
  font-weight: 400;
}
.section3 .controlCover {
  -webkit-display: flex;
  display: flex;
  align-items: center;

  .pagination {
    -webkit-display: flex;
    display: flex;
    align-items: center;

    .buttonContainer {
      margin-left: 15px;
      -webkit-display: flex;
      display: flex;
      align-items: center;
    }
  }
}
.section3 .memberList .tile {
  @media (max-width: 768px) {
    padding-top: 35px;
  }
}
