@use "/styles/color.scss" as *;
.sidebar {
  width: 300px;
  height: 100vh;
  border-right: 1px solid $gray3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-bottom: 50px;
}

.sidebarcontent {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.subtitles {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.subtitle {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: $gray5;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1200px;
}

.colorCircle {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: $white;
}

.dashboardlist {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin: 20px;
  padding-bottom: 12px;

  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: $gray5;
}

.scroll {
  max-height: calc(100vh - 20px);
  overflow-y: auto;
  padding-bottom: 95px;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .sidebar {
    width: 160px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 60px;
  }
  .subtitle {
    display: none;
  }

  .showNone {
    display: none;
  }

  .dashboardlist {
    margin: 20px 5px;
    padding-bottom: 20px;
  }
}
