@use "/styles/color.scss" as *;

.modalContent {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
  }
  label {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.48px;
  }
}

.input,
.textarea,
.date {
  width: 100%;
  padding: 8px;
  border: 1px solid $gray3;
  border-radius: 6px;
  height: 50px;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
}

.input,
.textarea::placeholder {
  color: $black2;
}

.input,
.date {
  margin-bottom: 24px;
}

.textarea {
  min-height: 80px;
  resize: none;
  margin-bottom: 24px;
}

.tags {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.tag {
  background: #e0e0e0;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 14px;
}

.imageUpload input {
  display: block;
}

.cancle {
  background-color: $white;
  color: $violet2;
  padding: 14px 26px;
  border: 1px solid $gray3;
  border-radius: 8px;
  cursor: pointer;
  width: 50%;
}

.create {
  background-color: $violet2;
  padding: 14px 26px;
  border: 1px solid $gray3;
  border-radius: 4px;
  cursor: pointer;
  color: $white;
  width: 50%;
}

.cancle:hover {
  background-color: $gray2;
}

.create:hover {
  background-color: $violet2;
}

.errorInput {
  border: 1px solid red !important;
  background-color: #ffe6e6;
}

.tagInputContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.input {
  flex-grow: 1; /* 입력란이 태그와 함께 늘어나도록 */
}

.tagsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 4px;
  margin-top: 8px;
  width: 100%;
}

.tagItem {
  background-color: #f1f1f1;
  color: #333;
  border-radius: 16px;
  padding: 4px 12px;
  font-size: 12px;
  display: inline-block;
}
