@use "/styles/color.scss" as *;

.boardContainer {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  height: 100vh;
}

.columnLine {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 16px;

  border-right: 1px solid $gray2;
  padding-right: 20px;

  &:last-child {
    border-right: none;
  }
}

.circle {
  width: 8px;
  height: 8px;
  color: $violet2;
  border-radius: 50%;
}

.columnWrapper {
  padding-top: 22px;
  padding-left: 20px;
  max-width: 350px;

  h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.48px;
    color: $black2;
  }
}

.listcolumn {
  width: 314px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
