@use "/styles/color.scss" as *;
.modalTitle {
  display: flex;
  color: $black2;
  justify-content: space-between;
  h1 {
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
  }
  div {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
}
.circle {
  width: 8px;
  height: 8px;
  background-color: $violet2;
  border-radius: 50%;
}

.modalInfo {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 29px;
  margin-bottom: 26px;
  .hr {
    border: 1px solid $gray4;
    height: 20px;
  }
}
.columnTitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  display: flex;
  gap: 6px;
  align-items: center;

  border-radius: 16px;
  padding: 4px 10px;
  color: $violet2;
  background-color: $violet1;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 16px;
}

.comment {
  margin-top: 24px;
  position: relative;
  span {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    color: $black2;
  }
  div {
    margin-top: 4px;
  }
  .textarea {
    height: 104px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid $gray3;
    padding: 16px;
    border-radius: 6px;
  }
  button {
    border: 1px solid $gray3;
    padding: 7px 31px;
    border-radius: 6px;
    position: absolute;
    color: $violet2;
    bottom: 10px;
    right: 12px;

    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    cursor: pointer;
    &.disabled {
      cursor: not-allowed;
      opacity: 0.5; // 버튼이 비활성화된 느낌을 주기 위해 추가
    }
  }
}

.cardMetaBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 56px 16px 14px;

  border-radius: 8px;
  border: 1px solid #ddd;
  margin-top: 16px;
  position: absolute;
  top: 28px;
  right: 0;
}

.assignee,
.dueDate {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.assigneeDetails {
  display: flex;
  align-items: center;
  gap: 10px;
}

.assignee {
  margin-bottom: 10px;
}

.profileImage {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.label {
  font-weight: bold;
  font-size: 14px;
  color: #666;
}

/* 케밥 버튼 아래로 드롭다운 */
.dropdownWrapper {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 32px; /* 버튼 아래 */
  left: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100px;
  padding: 8px 0;
  z-index: 10;
}

.dropdownMenu li {
  padding: 12px 18px;
  cursor: pointer;
}

.dropdownMenu li:hover {
  background: $violet1;
  color: $violet2;
}
