@use "/styles/color.scss" as *;
.modalContent {
  height: 340px;
  width: 568px;

  h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: $black2;
    margin-bottom: 24px;
  }

  .modalTitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: $black2;
    margin-bottom: 15px;
  }

  .modalInput {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid $gray3;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
  }
}

.colorDiv {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.color {
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  .colorCheck {
    position: absolute;
    top: 10px;
    left: 7px;
  }
}

.colorGreen {
  background-color: $green;
}

.colorPurple {
  background-color: $purple;
}

.colorOrange {
  background-color: $orange;
}

.colorBlue {
  background-color: $blue;
}

.colorPink {
  background-color: $pink;
}

.buttonGroup {
  display: flex;
  gap: 8px;
  width: 100%;
}

.cancle {
  background-color: $white;
  color: $violet2;
  padding: 14px 26px;
  border: 1px solid $gray3;
  border-radius: 8px;
  cursor: pointer;
  width: 50%;
}

.create {
  background-color: $violet2;
  padding: 14px 26px;
  border: 1px solid $gray3;
  border-radius: 4px;
  cursor: pointer;
  color: $white;
  width: 50%;
}

.cancle:hover {
  background-color: $gray2;
}

.create:hover {
  background-color: $violet2;
}
