@use "/styles/color.scss" as *;

.contents {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content {
  margin-left: 300px;
  padding: 20px;
  background-color: $gray1;
  flex-grow: 1;
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out;
}

.listcard {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.listcardandpagination {
  max-width: 1200px;
  width: 100%;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1200px;
}

.colorCircle {
  width: 8px;
  height: 8px;
  border-radius: 50px;
}

.inviteContent {
  max-width: 1200px;
  width: 100%;
  min-height: 390px;
  background-color: $white;
  border-radius: 8px;
  padding: 32px 28px;
  overflow-y: auto;

  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
  width: 90%;
}

.addCard {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding-left: 75px;
  font-family: Pretendard;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.dashboardlist {
  overflow-y: auto;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .content {
    margin-left: 160px;
    padding: 20px;
    background-color: $gray2;
  }
}

@media (max-width: 767px) {
  .content {
    margin-left: 60px;
    padding: 20px;
    background-color: $gray2;
  }

  .listcardandpagination {
    width: 100%;
  }

  .pagination {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
