@use "/styles/color.scss" as *;
.contents {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content {
  margin-left: 300px;
  padding: 20px;
  background-color: #f0f0f0;
  flex-grow: 1;
  gap: 20px;
  // 스크롤이 되지 않는 이슈가 발생되어 추가하였습니다. 02.14_혜림
  overflow-y: auto;
}

.listCard {
  div {
    text-align: center;
  }
}

.listCard {
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1200px;
}

.colorCircle {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: $white;
}

.inviteContent {
  width: 1022px;
  max-height: 750px;
  background-color: $white;
  border-radius: 8px;
  padding: 32px 28px;
  overflow-y: auto;

  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
}

.listcardandpagination {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1200px;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
  width: 990px;
}

.listcard,
.addCard {
  display: flex;
  flex-wrap: wrap;
}

.addCard {
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding-left: 75px;
  font-family: Pretendard;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.dashboardlist {
  overflow-y: auto;
}
