@use "/styles/color.scss" as *;
.contents {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content {
  margin-left: 300px;
  padding: 20px;
  background-color: #f0f0f0;
  flex-grow: 1;
  gap: 20px;
  // 스크롤이 되지 않는 이슈가 발생되어 추가하였습니다. 02.14_혜림
  overflow-y: auto;
}

.listCard {
  div {
    text-align: center;
  }
}

.listCard {
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1200px;
}

.colorCircle {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: $white;
}

.inviteContent {
  width: 80%;
  max-height: 750px;
  background-color: $white;
  border-radius: 8px;
  padding: 32px 28px;
  overflow-y: auto;

  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
}

.listcardandpagination {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%; /* Use full width */
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
  width: 100%; /* Ensure pagination takes full width */
}

.listcard,
.addCard {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between; /* Ensures even spacing */
}

.addCard {
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding-left: 75px;
  font-family: Pretendard;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.dashboardlist {
  overflow-y: auto;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .content {
    margin-left: 160px;
    padding: 20px;
    background-color: $gray2;
  }
}

@media (max-width: 767px) {
  .content {
    margin-left: 60px;
    padding: 20px;
    background-color: $gray2;
  }

  .listcardandpagination {
    width: 100%;
  }

  .listcard {
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow-x: auto;
  }

  .listcard > a {
    flex-shrink: 0; /* Prevent shrinking on smaller screens */
  }

  .pagination {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
