$white: #ffffff;
$gray1: #fafafa;
$gray2: #eeeeee;
$gray3: #d9d9d9;
$gray4: #9fa6b2;
$gray5: #787486;
$black1: #4b4b4b;
$black2: #333236;
$black3: #171717;
$black4: #000000;

$violet1: #f1effd;
$violet2: #5534da;
$red: #d6173a;
$green: #7ac555;
$purple: #760dde;
$orange: #ffa500;
$blue: #76a5ea;
$pink: #e876ea;
