@use "/styles/color.scss" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: $white;
  border-bottom: 1px solid $gray3;
  padding: 20px 80px 20px 20px;
  position: sticky;
  top: 0px;
  margin-left: 300px;
  z-index: 1000;
}

.leftSection {
  font-size: 20px;
  line-height: 32px;
  font-weight: bold;
  color: $black2;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navButton {
  background: none;
  border: 1px solid $gray3;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  color: $gray5;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navButton:hover {
  background-color: #eee;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

.dropdown{
  position: absolute;
  top: -17px;
  right: -110px;
}

.profileName{
  cursor: pointer;
}

.profileIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #a3c4a2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.hr {
  border: 1px solid $gray4;
  height: 20px;
}

.dashboardTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* Mobile and Tablet Styles */
@media (max-width: 1199px) {
  .navbar {
    padding: 15px 40px;
    margin-left: 0;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 160px;
  }

  .leftSection {
    font-size: 18px;
  }

  .rightSection {
    gap: 24px;
    display: flex;
    align-items: center;
  }

  .navButton {
    font-size: 12px;
    padding: 6px 10px;
  }

  .profileIcon {
    width: 25px;
    height: 25px;
  }

  .profileName {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar::-webkit-scrollbar {
    display: none;
  }

  .navbar {
    padding: 10px 20px;
    flex-direction: row;
    align-items: center;
    height: auto;
    margin-left: 60px;
  }

  .leftSection {
    font-size: 16px;
    margin-right: 10px;
  }

  .rightSection {
    gap: 16px;
    width: auto;
    justify-content: flex-start;
  }

  .navButton {
    font-size: 12px;
    padding: 6px 8px;
  }

  .profileIcon {
    width: 24px;
    height: 24px;
  }

  .profileName {
    display: none; /* Hide profile name on mobile */
  }

  .hr {
    display: none;
  }
}
